<div class="card">
  <div class="card-block">
    <div class="row flex-items-xs-between">
      <div class="col-xs">
        <h5>
          {{zone.name}}
        </h5>
      </div>
      <div class="col-xs text-xs-right text-muted">
        Zone {{zone.$key}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs display-3">
        {{zone.currentTemperature}}&deg;
      </div>
      <div class="col-xs">
        <div ngbRadioGroup name="mode" [(ngModel)]="zone.currentMode" (change)="setMode(zone.currentMode)" name="mode">
          <label class="btn btn-secondary">
            <input type="radio" value="O">
            Off
          </label>
          <label class="btn btn-outline-primary">
            <input type="radio" value="C">
            Cool
          </label>
          <label class="btn btn-outline-danger">
            <input type="radio" value="H">
            Heat
          </label>
          <label class="btn btn-outline-warning">
            <input type="radio" value="A">
            Auto
          </label>
        </div>
        <button type="button" class="btn btn-outline-success" [class.active]="zone.fanMode" (click)="toggleFan()">
          Fan
        </button>
        <div class="input-group temp-input" *ngIf="zone.currentMode === 'C' || zone.currentMode === 'A'">
          <span class="input-group-btn">
            <button class="btn btn-outline-danger" type="button" (click)="updateSetPointCooling(zone.setPointCooling - 1)">-</button>
          </span>
          <input type="text" class="form-control cooling-background darker-input-border" [ngModel]="zone.setPointCooling" disabled>
          <span class="input-group-btn">
            <button class="btn btn-outline-success" type="button" (click)="updateSetPointCooling(zone.setPointCooling + 1)">+</button>
          </span>
        </div>
        <div class="input-group temp-input" *ngIf="zone.currentMode === 'H' || zone.currentMode === 'A'">
          <span class="input-group-btn">
            <button class="btn btn-outline-danger" type="button" (click)="updateSetPointHeating(zone.setPointHeating - 1)">-</button>
          </span>
          <input type="text" class="form-control heating-background darker-input-border" [ngModel]="zone.setPointHeating" disabled>
          <span class="input-group-btn">
            <button class="btn btn-outline-success" type="button" (click)="updateSetPointHeating(zone.setPointHeating + 1)">+</button>
          </span>
        </div>
      </div>
      <div class="col-xs text-xs-right" [ngSwitch]="zone.childZoneNum === 1 && !zone.zoneDamper1Status || zone.childZoneNum === 2 && !zone.zoneDamper2Status">
        <div *ngSwitchCase="true">
          <div>
            <span class="tag tag-default tag-status-info active" *ngIf="zone.minOffTimeStage1">Stage 1 Min Off Time</span>
            <span class="tag tag-default tag-status-info active" *ngIf="zone.minOffTimeStage2">Stage 2 Min Off Time</span>
            <span class="tag tag-default tag-status-info active" *ngIf="zone.minRunTimeStage1">Stage 1 Min Run Time</span>
            <span class="tag tag-default tag-status-info active" *ngIf="zone.minRunTimeStage2">Stage 2 Min Run Time</span>
            <span class="tag tag-default tag-status-success" [class.active]="zone.fanStatus" *ngIf="zone.currentMode !== 'O' || zone.fanMode">Fan</span>
          </div>
          <div *ngIf="zone.currentMode === 'C' || zone.currentMode === 'A'">
            <span class="tag tag-default tag-status-primary"[class.active]="zone.systemModeStatus === 'C'">Cooling</span>
            <span class="tag tag-default tag-status-primary" [class.active]="zone.coolingStage1">Cooling Stage 1</span>
            <span class="tag tag-default tag-status-primary" [class.active]="zone.coolingStage2">Cooling Stage 2</span>
          </div>
          <div *ngIf="zone.currentMode === 'H' || zone.currentMode === 'A'">
            <span class="tag tag-default tag-status-danger"[class.active]="zone.systemModeStatus === 'H'">Heating</span>
            <span class="tag tag-default tag-status-danger" [class.active]="zone.heatingStage1">Heating Stage 1</span>
            <span class="tag tag-default tag-status-danger" [class.active]="zone.heatingStage2">Heating Stage 2</span>
            <span class="tag tag-default tag-status-danger" [class.active]="zone.heatingStage3">Heating Stage 3</span>
          </div>
        </div>
        <div *ngSwitchCase="false">
          <span class="tag tag-default tag-status-warning active">Zone Damper Closed</span>
        </div>
      </div>
    </div>
  </div>
</div>
