@import "../../../../node_modules/bootstrap/scss/variables";

.temp-input{
  margin-top: $spacer;
  width: 8.6em;
  .cooling-background{
    background-color: #e1effa;
  }
  .heating-background{
    background-color: #fae9e8;
  }
  .darker-input-border{
    border-color: #bfbfbf;
  }
}

.tag-status-primary{
  color: $gray-dark;
  background-color: #FFF;
  border: 1px $brand-primary solid;
  &.active {
    background-color: $brand-primary;
    color: #FFF;
  }
}

$brand-types: (
  primary: $brand-primary,
  success: $brand-success,
  info: $brand-info,
  warning: $brand-warning,
  danger: $brand-danger
);

@each $name, $color in $brand-types {
  .tag-status-#{$name}{
    color: $gray-dark;
    background-color: #FFF;
    border: 1px $color solid;
    &.active {
      background-color: $color;
      color: #FFF;
    }
  }
}
